ul#sidenav.sidenav.sidenav-fixed
  li#overview
    //- https://*.*/
    a.sidenav-close(href="/") Overview
      i.material-icons dashboard
  li#accounts
    //- https://*.*/accounts/
    a.sidenav-close(href="accounts") Accounts
      i.material-icons account_balance_wallet
  li#transactions
    //- https://*.*/transitions/
    a.sidenav-close(href="transactions") Transactions
      i.material-icons money
  li.divider
  li
    a.subheader Manager
  li#categories
    //- https://*.*/categories/
    a.sidenav-close(href="categories") Categories
      i.material-icons label
  li.divider
  li#settings
    //- https://*.*/settings/
    a.sidenav-close(href="settings") Settings
      i.material-icons settings
  li#about
    //- https://*.*/about/
    a.sidenav-close(href="about") About
      i.material-icons info
